@charset "utf-8";

.user-container{
  display: flex;
}

.user-info{
  width:50%;
}

.user-image{
  width:50%;
  height: 400px;
}

.flex{
  display: flex;
}

.justify-evenly{
  justify-content: space-evenly;
}

body{
  width:100%;
  height: 100vh;
}

.w-full{
  width: 100%;
}

.object-fit{
  object-fit: cover;
}

.h-auto{
  height: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f-64{
  font-size: 64px;
}

.f-48{
  font-size: 48px;
}

.f-weight{
  font-weight: bold;
}

.border-b-2{
  border-bottom:solid 2px red;
  
}